<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs')%>
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <link rel="stylesheet" href="/stylesheets/crear-editar-producto.css">
        <link rel="stylesheet" href="/stylesheets/errores.css">
        <title>Crear nuevo producto</title>
    </head>

<body>
    <%- include('../partials/header.ejs')%>
    <main>
        <section align="center" class="formulario">
            <h2>Crear un nuevo Producto</h2>
            <%- include('../partials/vistaErroresValidaciones.ejs') %>
            <form class="form-create" method="POST" action="/productos/crear" enctype="multipart/form-data">

                <div class="product-name">
                    <label for="">Titulo:</label>
                    <input type="text" name="name" id="nombre" placeholder="Titulo del Producto">
                    <div class="erroresName"></div>
                    <br>
                </div>

                <div class="product-type">
                    <label for="">Categoria:</label>
                    <br>
                    <select name="category"> <!--Tipo de producto, según Categoría-->
                        <% categories.forEach(category => { %>
                            <option value="<%= category.id %>"><%= category.category %></option>
                        <% }); %>
                    </select>
                    <br>
                    <br>
                </div>

                <div class="attribute-check">
                    <label for="">Peso(gr)/Color:</label>
                    <br>
                    <select name="attribute" id="">
                        <% attributes.forEach(attribute => { %>
                            <option value="<%= attribute.id %>"><%= attribute.name %></option>
                        <% }); %>
                    </select>
                    <br>
                    <br>
                </div>

                <div class="product-price">
                    <label for="">Precio:</label>
                    <br>
                    <input type="number" step=".01" name="price" id="precio" placeholder="$00.00">
                    <div class="erroresPrice"></div>
                </div>

                <div class="product-img">
                    <label for="">Imagen:</label>
                    <br>
                    <input type="file" name="product-img">
                    <div class="erroresImg"></div>
                    <br>
                </div>

               <div class="product-detail">
                    <p><label>Detalle de producto</label></p>
                    <textarea name="description" rows="10" cols="40"></textarea>
                    <br> 
                    <div class="erroresDescription"></div>
                    <br>
               </div>

                <div class="product-create">
                    <button type="submit" class="product-create-button">Publicar</button>
                </div>

                <div>
                    <button class="product-cancel-button"><a href="/productos/listado">Cancelar</a></button>
                </div>

            </form>
        </section>
    <%- include('../partials/footer.ejs')%>
    </main>
    <script type="text/javascript" src="/js/create-product.js"></script>
</body>
</html>