<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs')%>
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <link rel="stylesheet" href="/stylesheets/detalle-producto.css">
        <title>Detalle del Producto</title>
    </head>

<body>
    <%- include('../partials/header.ejs')%>
    <main>
    <section class="articulo-precio-envio-padre">
        <section class="articulo">
            <article class="imagenes-articulo">
                 <img class="img-principal" src="/images/products/<%= productDetail.image %>" alt="imagen-principal">
            </article>
        </section>

        <section class="precio-envio">
           
            <article class="precio-envio-article">
                <div class="titulo">
                    <h2><%= productDetail.name %><span>
                    </span></h2>
                </div>
                <div class="puntuacion">
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                </div>
                <div class="precio">
                    <div><p class="pesos">$<%= productDetail.price %></p></div>
                </div>
                <div class="botones">
                    <div class="boton-completo"><a href="/carrito"><button class="boton-carrito" type="button">Agregar al Carrito</button></a></div>
                </div>
            
                <div class="pagos">
                    <div><i class="fas fa-credit-card"></i></div>
                    <div><p>Paga en 3 Cuotas Sin Interes!</p></div>
                </div>
            
                <div class="envio">
                    <div><i class="fas fa-truck"></i></div>
                    <div><p>Calcular Precio de Envio y Demora:</p></div>
                </div>

                <div class="valor-envio">
                    <div><label for="">Elegi tu Provincia</label></p></div>
                    <%- include('../partials/provinciasSelect.ejs')%>

                <div class="links">
                    <a href=""><i class="far fa-heart"></i> Agregar a favoritos</a>
                    <br>
                    <br>
                    <a href=""><i class="fas fa-share-alt"></i> Compartir</a>
                </div>

                <% if(locals.user && locals.user.role_id == 1) { %> 
                <div class="button-section">
                    <a class="button-create" href="/productos/<%= productDetail.id %>/editar">Editar</a>
                </div>
                <br>
                <br>
                <% } %>
            
            </article>
        </section>
    </section>
        <div class="descripcion-desktop">
            <article >
                <h4> Descripción del producto: </h4>
                <br>
                <p><%= productDetail.description %><p>
            </article>
        </div>
        <section class="descripcion">
            
            <article>
                <h4 align="center"> Descripción del producto: </h4>
                <br>
                <p><%= productDetail.description %><p>
            </article>

        </section>

        <h3 align="center" class="titulo-opiniones">Opiniones sobre el Producto</h3>
        <section class="opiniones">
                <div class="opinion">
                    <h3>Lorem, ipsum dolor.</h3>
                    <div class="puntuacion-opiniones">
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, doloribus delectus quod illum quisquam accusamus neque dolor? Quas, dolore numquam.</p>
                    <div class="like-dislike"><i class="far fa-thumbs-up"></i><span><i class="far fa-thumbs-down"></i></span></div>
                </div>

                <div class="opinion">
                    <h3>Lorem, ipsum</h3>
                    <div class="puntuacion-opiniones">
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae ea accusamus in distinctio voluptate aspernatur obcaecati voluptatum dolorum rerum, consectetur dolore veritatis tempora eaque explicabo odio possimus, repudiandae ullam similique.</p>
                    <div class="like-dislike"><i class="far fa-thumbs-up"></i><span><i class="far fa-thumbs-down"></i></span></div>
                </div>

                <div class="opinion">
                    <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                    <div class="puntuacion-opiniones">
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, deleniti!.</p>
                    <div class="like-dislike"><i class="far fa-thumbs-up"></i><span><i class="far fa-thumbs-down"></i></span></div>
                </div>
        </section>

        <section class="recomendacion">

            <h3>Productos Relacionados</h3>
            <div class="recomendados">
                <% recomendacion.forEach(recomendado =>{ %>
                 <article class="caja-producto">
                     <a href="/productos/<%= recomendado.id %>/detalle">
                         <img src="/images/products/<%= recomendado.image %>" alt="recomendacion">
                     </a>
                     <div class="producto-info">
                         <i class="fas fa-credit-card"></i>
                         <i class="fas fa-shopping-bag"></i>
                         <h2 class="precio-producto">$<%= recomendado.price %> </h2>
                         <h3><%= recomendado.name %> </h3>
                     </div>                
                 </article>
                 <% }) %>

              </div>
        </section>
        
    <%- include('../partials/footer.ejs')%>

    </main>
</body>
</html>