<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs')%>
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <link rel="stylesheet" href="/stylesheets/formulario-registro.css">
        <title>Formulario de Edición</title>
    </head>
<body>
    <%- include('../partials/header.ejs')%>
    <main>
        
        <section class="titulo">
            <h2>Hola <%= user.name %>! Edita tu Perfil</h2>
        </section>

        <section align="center" class="formulario">
            <form method="POST" action="/usuarios/editar?_method=PATCH" enctype="multipart/form-data">
                <div>
                    <label for="" class="titulo">Nombre</label>
                    <br>
                    <input type="text" name="name" id="name" value="<%= user.name %>">
                    <label for="" class="titulo">Apellido</label>
                    <br>
                    <input type="text" name="lastname" id="lastname" value="<%= user.lastname %>">
                    <br>
                    <label class="titulo" for="">Fecha de Nacimiento</label>
                    <br>
                    <input type="date" name="birthdate" id="birthdate" value="<%= user.birthdate %>">
                    <div class="genero">
                        <label for="" class="titulo">Género</label>
                        <br>
                        <select name="gender" id="">
                        <option value="<%= user.gender %>"><%= user.gender %></option>
                        <option value="F" name="gender">Femenino</option>
                        <option value="M" name="gender">Masculino</option>
                        <option value="I" name="gender">Indistinto</option>
                        </select>
                    </div>
                </div>

                <button class="confirmar-cambios" type="submit">Confirmar Cambios</button>
            </form>
          </section>
          <div class="descartar">
            <form method=GET action="/" align=center>
                <a href="/"><button class="descartar-cambios">Descartar Cambios</button></a>
              </form>
          </div>
          
    <%- include('../partials/footer.ejs')%>
        
    </main>
</body>
</html>