<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs')%>
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <link rel="stylesheet" href="/stylesheets/perfil-usuario.css">
        <title>Perfil de usuario</title>
    </head>
<body>
    <%- include('../partials/header.ejs')%>
    <main>
        
        <section class="titulo">
            <h2>Hola <%= user.nombre %>!</h2>
        </section>

        <section align="center">
            
                <div class="info-usuario">
                    <div class="nombre"> Nombre: <%= user.nombre %> </div>
                    <div class="apellido"> Apellido: <%= user.apellido %> </div>
                    <div class="email"> Email: <%= user.email %> </div>
                    <div class="direccion"> Dirección: <%= user.direccion %> </div>
                    <div class="fecha-nacimiento"> Fecha de nacimiento: <%= user.fechaNacimiento %></div>
                    <div class="genero"> Genero: <%= user.genero %> </div>
                    <div class="foto-perfil"> Foto de perfil: </div>
                    <img src="/images/users/<%= user.imagen %>" alt="Foto de perfil"> 
                    
                    
                    <br>
                    <a href="/usuarios/editar"> <button class="editar-usuario"> Edita tu Usuario </button></a>
                    <br>
                    <br>
                    <% if(locals.user && locals.user.role == 'admin') { %> 
                        <div class="button-section">
                            <a class="button-create" href="/productos/crear">Crear Producto</a>
                        </div>
                        <br>
                    <% } %>
                    <a href="/usuarios/logout"><button class="descartar-cambios">Log Out</button></a>
                </div>
        </section>
    <%- include('../partials/footer.ejs')%>
    </main>
</body>
</html>