<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs')%>
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <link rel="stylesheet" href="/stylesheets/formulario-registro.css">
        <title>Perfil de usuario</title>
    </head>
<body>
    <%- include('../partials/header.ejs')%>
    <main>
        
        <section class="titulo">
            <h2>Hola <%= user.nombre %>!</h2>
        </section>

        <section align="center" class="formulario">
            
                <div>
                    <div> Nombre: <%= user.nombre %> </div>
                    <div> Apellido: <%= user.apellido %> </div>
                    <div> Email: <%= user.email %> </div>
                    <div> Dirección: <%= user.direccion %> </div>
                    <div> Fecha de nacimiento: <%= user.fechaNacimiento %></div>
                    <div> Genero: <%= user.genero %> </div>
                                  
                    <br>
                    <a href="/usuarios/editar"> <button class="confirmar-cambios"> Editar </button></a> 
                

     <%- include('../partials/footer.ejs')%>
                 </div>
    </main>
</body>
</html>